.form_sec {
    .form_head{
        p{
            margin-bottom: 20px;
            color: #4a4949;
            line-height: 28px;
        }
    }
    .contact_form{
        .form-control{
            border: 0;
            border-bottom: 1px solid #cccccc61;
            border-radius: 0px;
            height: 50px;
            outline: none;
            box-shadow: none;
            line-height: 50px;
        }
        textarea.form-control{
            height: auto;
            resize: none; 
        }
        ::-webkit-input-placeholder { /* Edge */
            color:$grey_text;
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $grey_text;
          }
          
          ::placeholder {
            color: $grey_text;
          }
    }
}